*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @import url(''https://www.w3schools.com/w3css/4/w3.css'');
    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    height: 300vh;
}
.container{
    height: 100vh; 
}

.top_board{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, black, rgb(13, 13, 96));
    font-size: 16px;
    color: white;
    height: 50px;
    z-index: 1;
}
.top_board h3{
margin-right: 15px;
}
.top_board a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

.top_board a:hover{
    border-bottom: solid white 3px;
}

.navbar{
    position: fixed;
    top: 50px;
    width: 100%;
    background: transparent;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.logo img{
    width: 150px;
}

.navbar .options{
    list-style: none;
    display: flex;
}
.options li button{
    padding: 0 10px;
    font-size: 17px;
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.options li button:hover{
    color: black;
    background: rgb(174, 173, 173);
}
.navbar .symbols{
    display: flex;
    list-style: none;
}


#first-page{
    color: white;
    background: url(/img/Model-3-Main-page.jpeg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hero{
    margin-top: 115px;
}
.hero #headline{
    font-size: 50px;
}

.details{
    margin-top: 290px;
    width: 600px;
    display: flex;
    justify-content: space-around;
}

#inner_detail{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.first_line{
    display: flex;
    align-items: center;
    
}
.first_line h2{
    margin-right: 5px;
}

.first_line img{
    filter: brightness(800%);
}
.btns ul{
    display: flex;
    list-style: none;

}
.first-btn{
    padding: 10px 60px;
    margin: 20px 20px;
    font-size: 17px;
    background: white;
    color: black;
    border: 2px black solid;
    border-radius: 3px;
    cursor: pointer;
}

.first-btn:hover{
    background: rgb(183, 183, 183);
}

.second-btn{
    padding: 10px 60px;
    margin: 20px 20px;
    font-size: 17px;
    background: transparent;
    color: white;
    border: 2px white solid;
    border-radius: 3px;
    cursor: pointer;
}

.second-btn:hover{
    color: black;
    background: white;
}

.small_words{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.small_words span{
    font-size: 14px;
}

.small_words a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    width: 210px;
}

.small_words a:hover{
    border-bottom: 2px solid white;
}

#second-page{
    background: url(img/second_page.png) no-repeat top ;
    position: relative;
}

.safety {
    position: absolute;
    bottom: 0;
    left: 200px;
    display: flex;
    flex-direction: column;
    
}

.safety .safety_headline{
    font-size: 40px;
    margin-bottom: 20px;
}
.safety span{
    margin-bottom: 20px;
}
.safety a{
    
        text-decoration: none;
        color: black;
        border-bottom: 1px solid black;
}

.safety a:hover{
    border-bottom: 2px solid black;
}

.safety ul{
    display: flex;
    list-style: none;
    width: 1200px;

}

.safety li{
    margin: 0px 30px 0px 0px;
}

#third-page{
    position: relative;
    
    
    
}
/* #third_page_background{
    background: url(img/third_page.png) no-repeat center bottom;
    height: 80vh;
    background-size: 100% 100%;
} */
#third-page img{
    max-width: 100%;
    height: 82%;
    position: absolute;
    bottom: 0;
}